.content {
  width: 50%;
  margin: auto;
  background-color: rgb(232, 232, 232);
}
#dropZone {
  width: 50%;
  margin: 40px auto;
  background-color: white;
  height: 200px;
  border: 3px dashed deepskyblue;
  font-size: 18px;
  text-align: center;
}
#uploadAll {
  margin: 40px auto;
}
#fileList {
  width: 50%;
  margin: 0 auto;
}
#fileList li {
  margin-top: 10px;
}

.progress span {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
  font: bold 1.5em sans-serif;
}