<div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0"
         aria-valuemin="0" aria-valuemax="100" style="width:0%">
        <span>0%</span>
    </div>
</div>